<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/user/profile"> <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <main>
            <section>
                <h1>Bienvenido <%=user.user_name%></h1>
                <h2>Perfil:</h2>
                <img src="/images/users/<%=user.image%>">
                <div class="info-container">
                    <div class="info">
                        <span>Nombre completo:</span> <%=user.first_name%>
                    </div>
                    <div class="info">
                        <span>Email:</span> <%=user.email%>
                    </div>
                    <div class="info">
                        <span>Teléfono:</span> <%=user.phone%>
                    </div>
                    <div class="info">
                        <span>Fecha de nacimiento:</span> <%=user.birth_date%>
                    </div>
                    <div class="info">
                        <span>Dirección:</span> <%=user.address%>
                    </div>
                    <div class="info">
                        <span>Tipo de usuario:</span> <%=user.type%>
                    </div>
                </div>
                <button class="save-button-icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="save-button">Guardar cambios</button>
            </section>
        </main>
    
        <script>
            const saveButtonIcon = document.querySelector('.save-button-icon');
            const saveButton = document.querySelector('.save-button');
    
            saveButtonIcon.addEventListener('click', () => {
                saveButtonIcon.style.display = 'none';
                saveButton.style.display = 'block';
            });
    
            saveButton.addEventListener('click', () => {
                saveButton.style.display = 'none';
                saveButtonIcon.style.display = 'block';
            });
        </script>
        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>


</body>

</html>