<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/user/profile"> <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <main>
            <section>

                <%if (error){%> 
                <i class="fa-solid fa-circle-exclamation" style="color: #ff0000; font-size: 35px;"></i>
                <br>
                <br>
                <p style="color:red;text-align: center;">Debes editar tu pefil y darte de alta como vendedor para comenzar a publicar productos</p>
                <br>
                <%}%>
        
                <h1>Bienvenido <%=user.user_name%></h1>
                <h2>Perfil:</h2>
                <img src="/images/users/<%=user.user_image%>">
                <div class="info-container">
                    <div class="info">
                        <span>Nombre:</span> <%=user.user_name%>
                    </div>
                    <div class="info">
                        <span>Apellido:</span> <%=user.last_name%>
                    </div>
                    <div class="info">
                        <span>Email:</span> <%=user.email%>
                    </div>
                    <div class="info">
                        <span>Teléfono:</span> <%=user.phone%>
                    </div>
                    <div class="info">
                        <span>Fecha de nacimiento:</span> <%=user.birth_date%>
                    </div>
                    <div class="info">
                        <span>Dirección:</span> <%=user.address%>
                    </div>
                </div>
                <button class="save-button">Guardar cambios</button>
            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>


</body>

</html>