<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/register.css">
</head>


<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/user/register"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <main>
        <section class="section-register">
        <div class="container">
			<span class="span-title-register">Register</span>
			<form class="form-login" action="/user/register" enctype="multipart/form-data" method="POST">
				<div class="container-input">
                    <label for="name_data" class="label-register">Nombre y apellido</label>
					<input type="text" 
                    name="name_data" 
                    class="input-register" 
                    placeholder="Como figura en su DNI"
                    class="form-inputs <%= locals.errors && errors.name_data? "is-invalid" : null %>"
                    <% if (locals.oldData) { %>
                        value= "<%= oldData.name_data %>"
                    <% } %>
                    >    
                    <% if (locals.errors && errors.name_data) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.name_data.msg %>
                        </div>
                    <% }; %>
				</div>

				<div class="container-input">
                    <label for="email" class="label-register">Email</label>
					<input type="email" 
                    name="email" 
                    class="input-register"
                    placeholder="ej user_email@mail.com" 
                    class="form-inputs <%= locals.errors && errors.email? "is-invalid" : null %>"
                    value= <%= locals.oldData? oldData.email : null %>
                    >    
                    <% if (locals.errors && errors.email) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.email.msg %>
                            <% if (errors.email.msg === 'Ese e-mail ya se encuentra registrado!') { %>
                                <div><a href="/user/login">Quieres logearte?</a></div>
                            <% } %>
                        </div>
                    <% }; %>
				</div>

                <div class="container-input">
                    <label for="user_name" class="label-register">Nombre de usuario</label>
					<input type="text" 
                    name="user_name" 
                    class="input-register" 
                    placeholder="ej. user123" 
                    minlength="6" 
                    class="form-inputs <%= locals.errors && errors.user_name? "is-invalid" : null %>"
                    value= "<%= locals.oldData? oldData.user_name : null %>"
                    >    
                    <% if (locals.errors && errors.user_name) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.user_name.msg %>
                        </div>
                    <% }; %>
                </div>

                <div class="container-input">
                    <label for="address" class="label-register">Dirección</label>
					<input type="text" 
                    name="address" 
                    class="input-register" 
                    placeholder="Ej. Av. Ejemplo 124 Ciudad" 
                    minlength="6" 
                    class="form-inputs <%= locals.errors && errors.address? "is-invalid" : null %>"
                    value= "<%= locals.oldData? oldData.address : null %>"
                    >    
                    <% if (locals.errors && errors.address) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% }; %>
				</div>

                <div class="container-input">
                    <label for="birth_date" class="label-register">Fecha de nacimiento</label>
                    <input type="date" 
                    name="birth_date" 
                    min="1900-01-01" 
                    max="2005-01-01" 
                    class="input-register"
                    id="InputDate" 
                    class="form-inputs <%= locals.errors && errors.birth_date? "is-invalid" : null %>"
                    value= <%= locals.oldData? oldData.birth_date : null %>
                    >    
                    <% if (locals.errors && errors.birth_date) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" id="bd-error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.birth_date.msg %>
                        </div>
                    <% }; %>
				</div>

                <div class="container-input">
                    <label for="phone" class="label-register">Teléfono celular</label>
					<input type="tel" 
                    name="phone" 
                    class="input-register" 
                    placeholder="ej (351) 2 341032" 
                    class="form-inputs <%= locals.errors && errors.phone? "is-invalid" : null %>"
                    value= <%= locals.oldData? oldData.phone : null %>
                    >    
                    <% if (locals.errors && errors.phone) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.phone.msg %>
                        </div>
                    <% }; %>
				</div>

                <div class="container-input">
                    <label class="label-register">Tipo de Perfil</label><br><br>
                    <% if (locals.errors && errors.user_type) { %>
                        <label class="label-register" style="border-bottom: solid 1px red;" for="user_type">Vendedor</label>
                        <input type="radio" id="Vendedor" name="user_type" value="Vendedor">
                        <label class="label-register" style="border-bottom: solid 1px red" for="user_type">Comprador</label>
                        <input type="radio" id="Comprador" name="user_type" value="Comprador">
                        <div class="text-danger">
                            <%= errors.user_type.msg %>
                        </div>
                    <% } else{ %>    
                        <label class="label-register" for="user_type">Vendedor</label>
                        <input type="radio" id="Vendedor" name="user_type" value="Vendedor" <%= locals.oldData && oldData.user_type == "Vendedor" ? "checked" : null %>>

                        <label class="label-register" for="user_type">Comprador</label>
                        <input type="radio" id="Comprador" name="user_type" value="Comprador" <%= locals.oldData && oldData.user_type == "Comprador" ? "checked" : null %>>
                    <% }; %> 
				</div>

                <div class="container-input photo" >
                    <label class="label-register" for="user_image">Foto de usuario:</label>
                    <br>
                    <img src="/images/users/default-user-photo.png" alt="avatar" id="img">
                    <label for="foto" id="change_photo">Cambiar foto</label>
                    <% if (locals.errors && errors.user_image) { %>
                        <input class="input-register" 
                        type="file" 
                        id="foto" 
                        name="user_image" 
                        accept="image/*"
                        style="box-shadow: 0px 0px 10px red;"
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                      
                        <div class="text-danger">
                            <%= errors.user_image.msg %>
                        </div>
                        <span class="span-bar"></span>
                    <% } else{ %>
                        <input class="input-register" type="file" id="foto" name="user_image" accept="image/*" >
                        <span class="span-bar"></span>
                    <% }; %>  

				</div>

                
                <div class="container-input">
                    <label for="password"  class="label-register">Contraseña</label>
                   <input type="password" 
                    onpaste="return false;" oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete=off
                    name="password" 
                    class="input-register" 
                    id="password" 
                    minlength="8" 
                    placeholder="Escriba su contraseña..." 
                    class="form-inputs <%= locals.errors && errors.password? "is-invalid" : null %>"
                    
                    >    
                    <% if (locals.errors && errors.password) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% }; %>
				</div>                    
                <div class="container-input">
                 <input type="password" 
                    onpaste="return false;" oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete=off 
                    name="password_confirm" 
                    class="input-register" 
                    id="password-confirm"
                    placeholder="Repita su contraseña..." 
                    class="form-inputs <%= locals.errors && errors.password_confirm? "is-invalid" : null %>"
                    >    
                    <% if (locals.errors && errors.password_confirm) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" id="pc-error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger">
                            <%= errors.password_confirm.msg %>
                        </div>
                    <% }; %>
				</div>

                <button type="submit" class="btn-login">
                    Enviar
                </button>
                <button type="reset" class="btn-login">
                    Borrar
                </button>
                <a href="/user/login">Ya tengo una cuenta</a>
			</form>
		</div>





    </section>
    </main>

 <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

 <!---------------------------------  FOOTER ---------------------------- -->

 <footer>
    <%- include('../partials/footer')%>
 </footer>
    

</body>

<script>
    const defaultFile = '/images/users/default-user-photo.png';
    const file = document.getElementById('foto');
    const img = document.getElementById('img');
    file.addEventListener('change', e => {
        if(e.target.files[0]){
            const reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }else{
            img.src = defaultFile;
        }
    })
</script>

<script>

    //Definir variables de acuerdo a las identificaciones y clases de las etiquetas

    let image = document.getElementById('foto');
    let imgPreview = document.querySelector('.img-preview');
    let labelVista = document.querySelector('.lbl-preview');
    let containerVista = document.querySelector('.container-preview');
    let backContainer = document.querySelector('.container');

    //Asignamos el contenido del file-input creando una url y source para actualizar el atributo src de la etiqueta <img/>, de manera que permita tener una pre-visualización de la imagen cargada una vez se obtenga el evento click

    labelVista.addEventListener('click', function(){

        srcFile = URL.createObjectURL(image.files[0])
        imgPreview.src = srcFile
        imgPreview.style.display = 'block';
        containerVista.style.display = 'block';
        backContainer.style.height = "75rem";

    }
    )

</script>

</html>