<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/user/login"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>
    
    <main>
        <section class="section-login">

<!--   Login -->

		<div class="container">
			<span class="span-title">Login</span>
			<form class="form-login" action="/user/entry" method="POST" id="login-form">
                <div class="container-input">
                    <input type="text" 
                        name="email" 
                        id="email-input"
                        placeholder="Email 칩 Usuario" 
                        class="form-input <%= locals.errors && errors.email? "is-invalid" : null %>"
                        value= <%= locals.oldData? oldData.email : null %>
                    >    
            
                    <% if (locals.errors && errors.email) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" id="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                            <%= errors.email.msg %>
                        </div>
                    <% }; %> 
                    <span class="error" id="error"></span>
                </div>
                <div class="container-input">
                    <input type="password"
                        name="password"
                        placeholder="Contrase침a"
                        id="password-input"
                        class="form-input <%= locals.errors && errors.password? "is-invalid" : null %>"
                    />    
            
                    <% if (locals.errors && errors.password) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" id="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                            <%= errors.password.msg %>
                        </div>
                    <% }; %>
                    <span class="error-password" id="error-password"></span>
                </div>
                <div class="container-sesion">
                    <label  for="rememberUser">Mantener Sesi칩n iniciada</label>
                    <input name="rememberUser" type="checkbox">
                </div>
                <button type="submit" class="btn-login" id="login-button" disabled>
                    Ingresar
                </button>
                <a class="enlace" href="/user/password-reset"> Recuperar Contrase침a</a>
                <a class="enlace" href="/user/register"> Registrarse </a>
            </form>
            
		</div>

    </section>


    </main>

   <!---------------------------------  FOOTER ---------------------------- -->

   <footer>
    <%- include('../partials/footer')%>
   </footer>
   <script src="/javascript/validationFront/login.js"></script>


</body>

</html>