<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/mainViews/password-reset-success"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <main>
            <section class="container-results">
                <div class="container pass-reset">
                    <span class="span-title">Ingresa tu nueva contraseña</span>
                    <div class="container-input">
                        <form class="form-login"  action="/user/reset-password-success" method="POST" id="pass-confirm-form">
                            <input type="password" onpaste="return false;" oncopy="return false"
                                oncut="return false" ondrag="return false" ondrop="return false"
                                autocomplete=off name="password" class="input-register" id="password"
                                minlength="8" placeholder="Escriba su contraseña..." class="form-input" 
                                class="form-inputs <%= locals.errors && errors.password? "is-invalid" : null %>"
                    
                                />
                                <% if (locals.errors && errors.password) { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                    </svg>                  
                                    <div class="text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                <% }; %>
                                <span class="error" id="password-error"></span>

                            <div class="text-danger">
                            </div>
                            <span class="error" id="password-error"></span>
                            <div class="container-input">
                                <input type="password" onpaste="return false;" oncopy="return false"
                                    oncut="return false" ondrag="return false" ondrop="return false"
                                    autocomplete=off name="password_confirm" class="input-register"
                                    id="repassword" placeholder="Repita su contraseña..." 
                                    class="form-inputs <%= locals.errors && errors.password_confirm? "is-invalid" : null %>"
                                    >    
                                    <% if (locals.errors && errors.password_confirm) { %>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="error-icon" id="pc-error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                        </svg>                  
                                        <div class="text-danger">
                                            <%= errors.password_confirm.msg %>
                                        </div>
                                    <% }; %>
                                    <span class="error" id="repassword-error"></span>
                                <div class="text-danger">
                                </div>
                                   <button type="submit" class="btn-login" id="pass-confirm-button">
                                    Confirmar
                                </button>
                                <span class="error" id="repassword-error"></span>
                            </div>
                        </form>
                    </div>
                </div>

            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>
        <script src="/javascript/validationFront/passResetSuccess.js"></script>

</body>

</html>