<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <!--------------------------------- NAVBAR --------------------------------->

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/product/<%=theProduct.id%>/detail"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <main>
        <article class="container-detail">
            <img class="img-detail" src=<%=theProduct.image%> >
            <div class="vertical-line"></div>
            <div class="container-price">
                <h2 class="title-detail"><%=theProduct.title%></h2>
                <p class="title-detail"><%=theProduct.description%></p>

                <% if(theProduct.discount > 0) { %>
                    <p class="price">$<%= theProduct.price %>/ - <%= theProduct.discount %>% OFF</p>
                    <p class="price"><strong>
                        Precio Final: $<%= Math.round(((theProduct.price)* ((100 - theProduct.discount)/100 )), -2) %>
                    </strong></p>
                <% } else { %>
                    <p class="price-detail"><strong>$<%= theProduct.price %></strong></p>
                <% };%>

                <input type="number" class="form-control" id="InputName" placeholder="Cantidad:" required /> <button
                    class="btn-product" type="submit" href="#">Añadir al carrito</button>
                <p class="cat-detail">Categoría: <strong><%=theProduct.category%> / <%=theProduct.subcategory%> </strong></p>
                <p class="cat-detail">Stock: 
                    <% if(theProduct.stock > 1) {%>
                        <strong>Disponible</strong></p>
                    <% }else{ %>
                        <strong>Agotado</strong></p>
                    <% }; %>
                <% if(theProduct.price > 3000) {%>
                    <p class="cat-detail"><strong>Envío Gratis</strong></p>
                <% }; %>
                <p class="shre-detail"> Compartir:</p>
                <div class="detail-container">
                    <a href="https://www.facebook.com" class="detail-fb"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com" class="detail-ig"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="detail-wpp"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </article>
        <div class="content-description">
            <h2 class="title-description">Detalle del producto</h2>
            <p class="p-description">
                <%=theProduct.info%>
            </p>
        </div>
        <!-- <div class="content-description">
            <h2 class="title-description">Caracteristicas</h2>
            <p class="p-description">
                ·Lorem ipsum dolor <br>
                ·molestias dignissimos <br>
                ·aperiam et nam qui <br>
                ·incidunt! Voluptate <br>
            </p>
        </div> -->
        <h2 class="title-card-detail"> Quienes vieron este producto tambien vieron:</h2>
        <div class="card-container">
            <div class="card">
                <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/crema-facial-30ml.png"
                        alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn-product"> Agregar al carrito</button>
            </div>
            <div class="card">
                <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/lipbalm-5gr.png"
                        alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn-product"> Agregar al carrito</button>
            </div>
            <div class="card">
                <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/endotica-90gr.png"
                        alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn-product"> Agregar al carrito</button>
            </div>
        </div>
    </main>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <footer>
        <%- include('../partials/footer')%>
    </footer>

</body>

</html>