<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/sale.css">

</head>

<body>
    <!-- Sale and product edition draft -->
    <main>
        <section class="publication">
            <h2>Mis Publicaciones</h2>
            <br>
            <a href="/product/create" class="btn-publication">Crear un nuevo producto!</a>

            <button type="button" class="btn-publication">Crear Publicación modal</button>

            <ul class="array-publication">
                <li class="item-publication">

                    <div class="info-publication">
                        <% productos.forEach(producto=> { %>
                            <article>
                                <br>
                                <div class="img-publication">
                                    <img src="" alt="imagen">
                                </div>
                                <br>
                                <h1>
                                    <%= producto.title %>
                                </h1>
                                <p> Precio =
                                    <%= producto.price %>
                                </p>
                                <p> Descuento =
                                    <%=producto.discount%>
                                </p>
                                <p> Stock =
                                    <%=producto.stock%>
                                </p>
                                <br>
                                <a href="/products/<%= producto.id %>/update">
                                    <button class="btn-edit">Editar</button>
                                </a>
                                <form action="/products/<%= producto.id %>/delete?_method=delete" method="post">
                                    <input type="submit" class="btn-delete" value="Eliminar"></input>
                                </form>
                                <br>
                            </article>
                            <% }) %>
                    </div>

                </li>
            </ul>
        </section>

</body>

</html>