<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/publications.css">

</head>

<body>
    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/product"> <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <!-- Sale and product edition draft -->
        <main>
            <section class="publication">
                <h2>Mis Publicaciones</h2>
                <br>
                <a href="/product/create" class="btn-publication">Crear un nuevo producto!</a>

                    <% productos.forEach(producto=> { %>
                        <article>
                            <br>
                            <div class="img-publication">
                                <img src="/images/product/sustratos/abono-growers-5L.png" alt="imagen">
                            </div>
                            <br>
                            <h1 class="title-publication">
                                <%= producto.title %>
                            </h1>
                            <p class="price-publication"> Precio =
                                <%= producto.price %>
                            </p>
                            <p class="desc-publication"> Descuento =
                                <%=producto.discount%>
                            </p>
                            <p class="stock-publication"> Stock =
                                <%=producto.stock%>
                            </p>
                            <br>
                            <div class="btns-a">
                                <a class="btn-edit" href="/product/<%= producto.id %>/update">Editar</a>
                                <form action="/product/<%= producto.id %>/delete?_method=delete" method="post">
                                    <input type="submit" class="btn-delete" value="Eliminar">
                                </form>
                            </div>
                            <br>
                        </article>
                        <% }) %>
            </section>
            <%- include('../partials/footer')%>

</body>

</html>