<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/product"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <div class="slider-product">
        <img src="/images/product/bannerProduct.jpg" alt="Imagen 1">
        <img src="/images/product/banner-product.jpg" alt="Imagen 2">
        <img src="/images/product/bannerProduct2.jpg" alt="Imagen 3">
    </div> 
    <main>
        <div class="categories-container">
            <div class="categories-items">
                <img src="/images/product/categories/Aceites.png" alt="" width="">
                <h3>Aceites medicinales</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Lociones.png" alt="">
                <h3>Lociones</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Cremas.png" alt="">
                <h3>Cremas</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Cosmetica fem.png" alt="">
                <h3>Dermocosmética</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Combos.png" alt="">
                <h3>Nuestros combos</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Macetas.png" alt="">
                <h3>Macetas</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Bandejas.png" alt="">
                <h3>Bandejas</h3>
            </div>
            <div class="categories-items">
                <img src="/images/product/categories/Sustratos.png" alt="">
                <h3>Sustratos</h3>
            </div>
        </div>
        <div class="prodcuts-conteiner">
            <section class="category-cultive">

                <h2 class="titles"> Productos para el Cultivo <i class="fa-solid fa-chevron-down"></i></h2>
                
                <h3 class="sub-category"> Sustratos <i class="fa-solid fa-chevron-down"></i></h3>
                <section class="section-sub-category">
                    <% products.forEach(product => { %>
                        <% if(product.type === "sustrato") { %>
                            <article class="product">
                                <a href="/product/<%= product.id %>/detail"> <img src=<%=product.image%> alt="img product">
                                </a>
                                <div class="content-art">
                                    <% if(product.price > 3000) { %>
                                        <p class="send"> Envio Gratis</p>
                                    <% }; %>
                                    <% if(product.discount > 0) { %>
                                        <p class="price">$<%= product.price %> - <%= product.discount %>% OFF</p>
                                        <p class="price"> 
                                            Precio Final: $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %></p>
                                    <% } else { %>
                                        <p class="price">$<%= product.price %></p>
                                    <% };%>

                                    <p class="title"><%= product.title %></p>
                                </div>
                                    <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                            </article>
                        <% }; %>
                    <% }); %>
                </section>

                <h3 class="sub-category"> Macetas <i class="fa-solid fa-chevron-down"></i> </h3>
                <section class="section-sub-category">
                    <% products.forEach(product => { %>
                        <% if(product.type === "maceta") { %>
                            <article class="product">
                                <a href="/product/<%= product.id %>/detail"> <img src=<%=product.image%> alt="img product">
                                </a>
                                <div class="content-art">
                                    <% if(product.price > 3000) { %>
                                        <p class="send"> Envio Gratis</p>
                                    <% }; %>
                                    <% if(product.discount > 0) { %>
                                        <p class="price">$<%= product.price %> - <%= product.discount %>% OFF</p>
                                        <p class="price"> 
                                            Precio Final: $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %></p>
                                    <% } else { %>
                                        <p class="price">$<%= product.price %></p>
                                    <% };%>

                                    <p class="title"><%= product.title %></p>
                                </div>
                                    <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                            </article>
                        <% }; %>
                    <% }); %>
                </section>

                <h3 class="sub-category"> Bandejas <i class="fa-solid fa-chevron-down"></i> </h3>
                <section class="section-sub-category">
                    <% products.forEach(product => { %>
                        <% if(product.type === "bandeja") { %>
                            <article class="product">
                                <a href="/product/<%= product.id %>/detail"> <img src=<%=product.image%> alt="img product">
                                </a>
                                <div class="content-art">
                                    <% if(product.price > 3000) { %>
                                        <p class="send"> Envio Gratis</p>
                                    <% }; %>
                                    <% if(product.discount > 0) { %>
                                        <p class="price">$<%= product.price %> - <%= product.discount %>% OFF</p>
                                        <p class="price"> 
                                            Precio Final: $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %></p>
                                    <% } else { %>
                                        <p class="price">$<%= product.price %></p>
                                    <% };%>
                                    <p class="title"><%= product.title %></p>
                                </div>
                                    <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                            </article>
                        <% }; %>
                    <% }); %>
                </section>

            </section>

            <section class="category-cultive">

                <h2 class="titles"> Sección productos Medicinales<i class="fa-solid fa-chevron-down"></i></h2>               

                <h3 class="sub-category"> Salud y Farmacia <i class="fa-solid fa-chevron-down"></i> </h3>

                <section class="section-sub-category">
                    <% products.forEach(product => { %>
                        <% if(product.subcategory === "salud") { %>
                            <article class="product">
                                <a href="/product/<%= product.id %>/detail"> <img src=<%=product.image%> alt="img product">
                                </a>
                                <div class="content-art">
                                    <% if(product.price > 3000) { %>
                                        <p class="send"> Envio Gratis</p>
                                    <% }; %>
                                    <% if(product.discount > 0) { %>
                                        <p class="price">$<%= product.price %> - <%= product.discount %>% OFF</p>
                                        <p class="price"> 
                                            Precio Final: $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %></p>
                                    <% } else { %>
                                        <p class="price">$<%= product.price %></p>
                                    <% };%>
                                    <p class="title"><%= product.title %></p>
                                </div>
                                    <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                            </article>
                        <% }; %>
                    <% }); %>
                </section>


                <h3 class="sub-category"> Dermocosmética y cuidado personal<i class="fa-solid fa-chevron-down"></i> </h3>
                <section class="section-sub-category">
                    <% products.forEach(product => { %>
                        <% if(product.subcategory === "cosmetica") { %>
                            <article class="product">
                                <a href="/product/<%= product.id %>/detail"> <img src=<%=product.image%> alt="img product">
                                </a>
                                <div class="content-art">
                                    <% if(product.price > 3000) { %>
                                        <p class="send"> Envio Gratis</p>
                                    <% }; %>
                                    <% if(product.discount > 0) { %>
                                        <p class="price">$<%= product.price %> - <%= product.discount %>% OFF</p>
                                        <p class="price"> 
                                            Precio Final: $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %></p>
                                    <% } else { %>
                                        <p class="price">$<%= product.price %></p>
                                    <% };%>

                                    <p class="title"><%= product.title %></p>
                                </div>
                                    <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                            </article>
                        <% }; %>
                    <% }); %>
                </section>
                
            </section>
        </div>

        <!-- /* ------------------------------- COMENTARIOS ------------------------------- */ -->
        <section id="section-comments">
            <div class="container-comments">
                <div>
                    <h2 id="title-comments"> Opiniones de nuestros clientes </h2>
                    <p> ¡Echa un vistazo a nuestras calificaciones y opiniones!</p>
                </div>
                <div class="content-star">
                    <h3>4,7</h3>
                    <div class="comments-stars"> <!--estrellas -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>28 reseñas</p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="circle-1"></div>
                    <div class="info-comment">
                        <h6>Laura Sánchez:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 2 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    Quería compartir mi experiencia con los productos de Green Good. Compré semillas y
                    nutrientes
                    para mi cultivo personal y quedé impresionada con la calidad y el rendimiento de las
                    plantas.
                    ¡Definitivamente recomiendo Green Good
                </p>
                <hr />
                <div class="usr-comment">
                    <div class="circle-2"></div>
                    <div class="info-comment">
                        <h6>Marcos Hernández:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 3 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    He estado usando los productos medicinales a base de cannabis de Green Good para tratar mi
                    artritis y los resultados han sido notables. Gracias a su selección de aceites y cremas,
                    puedo
                    manejar el dolor y la inflamación de manera efectiva. ¡Excelente trabajo, Green Good!
                </p>
            </div>
            <hr />
        </section>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <footer>
        <%- include('../partials/footer')%>
    </footer>

</body>

</html>