<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/publications.css">

</head>

<body>

    <% function mayuscPrimeraLetra(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    } %> <!-- Creo una funcion para poner primer letra en mayuscula de un string -->


    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/product/create"> <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <section id="sale">
            <div id="container-sale">

                <h1>Usted esta modificando el producto: <%=product.title%> </h1>
                <br>

                <form action="/product/<%=product.id%>/update?_method=PUT" method="post">
                    <div>
                        <img src="<%=product.image%>" alt="produtc-image">
                        <label class="label-sale-edit" for="image">Cambiar la imagen del producto:</label>
                        <input class="input-sale-edit" type="file" id="foto" name="image" accept=".png, .jpeg, .jpg">
                    </div>
                    
                    <label for="title" class="label-sale">Título del producto</label>
                    <input type="text" class="input-sale-edit" name="title" id="InputName" minlength="4" maxlength="400" value="<%=product.title%>" required />
                    
                    <label for="price" class="label-sale-edit">Precio (en $Arg)</label>
                    <input type="number" name="price" class="input-sale-edit" id="InputPrice-edit" value="<%=product.price%>" min="100" max="1000000" required />
                    
                    <label for="discount" class="label-sale-edit">Porcentaje de
                        descuento (%)</label>
                    <input type="number" name="discount" class="input-sale-edit" min="0" max="50" id="InputPrice-edit" value="<%=product.discount%>" required />

                    <label for="stock" class="label-sale-edit">Stock</label>
                    <input type="number" name="stock" class="input-sale-edit" min="1" id="InputPrice-edit" value="<%=product.stock%>" required />

                    <label for="description">Descripción resumida del producto</label>
                    <textarea name="description" class="input-sale-edit" cols="30" rows="10"><%= product.description %></textarea>

                    <label class="label-sale-edit" for="category">Categoría:</label>
                    <select name="category" class="input-sale-edit" required>
                        <option value="cultivo" 
                        <%=(product.category === "cultivo") ? 'selected' : null %> >Productos para el cultivo</option>
                        <option value="medicinal"
                        <%=(product.category === "medicinal") ? 'selected' : null %>
                        >Productos Medicinales</option>
                    </select>

                    <label class="label-sale-edit" for="subcategory">Subcategoría:</label>
                    <select name="subcategory" class="input-sale-edit" required>
                        <option value="" selected>Elije una sub-categoria</option>
                        <% let subCategories = ['recipientes', 'materialorganico', 'salud', 'cosmetica'] %>
                        <% for( oneSubCategory of subCategories ) { %>
                            <option 
                            value="<%=oneSubCategory%>"
                            <%=(product.subcategory === oneSubCategory) ? 'selected' : null %>
                            > <%= mayuscPrimeraLetra(oneSubCategory) %> </option>
                        <% } %>
                    </select>

                    <label class="label-sale-edit" for="type">Tipo de producto:</label>
                    <select name="type" class="input-sale-edit" required>
                        <option value="" selected>Elije el tipo de producto</option>
                        <% let types = ['maceta', 'bandeja', 'sustrato', 'aceite', 'crema', 'locion', 'labial', 'spray'] %>
                        <% for( oneType of types ) { %>
                            <option 
                            value="<%=oneType%>"
                            <%=(product.type === oneType) ? 'selected' : null %>
                            > <%= mayuscPrimeraLetra(oneType) %> </option>
                        <% } %>
                    </select>

                    <label for="info">Descripción resumida del producto</label>
                    <textarea name="info" class="input-sale-edit" cols="30" rows="10"><%= product.info %></textarea>


                    <input class="btn-save" type="submit" value="Guardar Cambios">
                </form>
                <br>
            </div>
        </section>
</body>

</html>