<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/publications.css">

</head>

<body>
    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/product/create"> <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <section id="sale">
            <div id="container-sale">
                <form action="/product/<%=product.id%>/update?_method=PUT" method="post">
                    <label class="label-sale-edit" for="image">Foto de Producto:</label>
                    <input class="input-sale-edit" type="file" id="foto" name="image" accept=".png, .jpeg, .jpg">
                    <label for="title" class="label-sale-edit">Nombre del producto</label>
                    <input type="text" class="input-sale-edit" name="title" id="InputName" value="<%=product.title%>"
                        minlength="4" maxlength="400" required />

                    <label for="price" class="label-sale-edit">Precio</label>
                    <input type="number" name="price" class="input-sale-edit" min="100" max="100000"
                        id="InputPrice-edit" value="<%=product.price%>" required />

                    <label for="discount" class="label-sale-edit">Porcentaje de
                        descuento</label>
                    <input type="number" name="discount" class="input-sale-edit" min="0" max="50" id="InputPrice-edit"
                        value="<%=product.discount%>" required />

                    <label for="stock" class="label-sale-edit">Stock</label>
                    <input type="number" name="stock" class="input-sale-edit" min="1" id="InputPrice-edit"
                        value="<%=product.stock%>" required />
                    <label class="label-sale-edit" for="category">Categoría:</label>
                    <select name="categoria" name="category" class="input-sale-edit">
                        <option value="Sustrato">Sustrato</option>
                        <option value="Macetas">Macetas</option>
                        <option value="Bandeja">Bandeja</option>
                        <option value="Cosmetica">Cosmetica</option>
                        <option value="Aceites">Aceites</option>
                        <option value="Cremas">Cremas</option>
                    </select>
                    <label class="label-sale-edit" for="subcategory">Subcategoría:</label>
                    <select name="subcategory" class="input-sale-edit">
                        <option value="Sustrato">Sustrato</option>
                        <option value="Macetas">Macetas</option>
                        <option value="Bandeja">Bandeja</option>
                        <option value="Cosmetica">Cosmetica</option>
                        <option value="Aceites">Aceites</option>
                        <option value="Cremas">Cremas</option>
                    </select>
                    <label class="label-sale-edit" for="type">Tipo de producto:</label>
                    <select name="type" class="input-sale-edit">
                        <option value="Sustrato">Sustrato</option>
                        <option value="Macetas">Macetas</option>
                        <option value="Bandeja">Bandeja</option>
                        <option value="Cosmetica">Cosmetica</option>
                        <option value="Aceites">Aceites</option>
                        <option value="Cremas">Cremas</option>
                    </select>
                    <input class="btn-save" type="submit" value="Guardar Cambios">
                </form>
                <br>
            </div>
        </section>
</body>

</html>