<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/product.css">
        <link rel="stylesheet" href="/css/searchResults.css">
        <script src="/javascript/productsList.js"></script>
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/search?product=<%=searchTerm%>"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <main>
            <h2 class="search-header">
                <%=title%>
            </h2>
            <section class="container-results">

                <% results.forEach(product=> { %>
                    <article class="card">
                        <a href="/product/<%= product.id %>/detail"> <img src=/images/products/<%=product.image%>
                            alt="img
                            product">
                        </a>
                        <span class="icon-card-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="fav-icon" id="<%= product.id %>" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                            </svg>
                        </span>
                        <span class="icon-card-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="share-icon" viewBox="0 0 24 24"
                                fill="currentColor" class="w-6 h-6" id="<%= product.id %>">
                                <path fill-rule="evenodd"
                                    d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>

                        <div class="content-art">
                            <h3 class="p-title">
                                <%= product.title %>
                            </h3>
                            <p class="p-description">
                                <%= product.description %>
                            </p>
                            <% if(product.price> 3000) { %>
                                <p class="send"> Envio Gratis</p>
                                <% }; %>
                                    <% if (product.discount> 0) { %>
                                        <div class="discount">
                                            <b class="old-price">$<%= product.price %></b><b class="off"> - <%=
                                                    product.discount %>% OFF</b>
                                        </div>
                                        <p class="price">
                                            $<%= Math.round(((product.price)* ((100 - product.discount)/100 )), -2) %>
                                        </p>
                                        <% }else{ %>
                                            <p class="price">
                                                $<%=product.price%>
                                            </p>
                                            <% } %>
                        </div>
                        <button type="submit" class="btn-product" id="<%= product.id %>"> Agregar al carrito
                        </button>
                    </article>
                    <% }); %>
            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>


</body>

</html>