<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/sale.css">
</head>

<body>

    <%- include('../partials/header')%>

        <!-- Sale and product edition draft -->
        <main>
            <section class="publication">
                <h2>Edición de productos</h2>

                <ul class="array-publication">
                    <li class="item-publication">
                        <div class="img-publication">
                            <img src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png"
                                alt="img publicación">
                        </div>
                        <div class="info-publication">
                            <h3 class="title-publication">Título del producto</h3>
                            <p class="desc-publication">
                                <%=productToEdit.title%>
                            </p>
                        </div>
                        <div class="btns-publicacion">
                            <input id="input1" class="checkbox1" type="checkbox">
                            <button for="input1" class="btn-edit">Editar</button>

                            <!--SOFT DELETE-->
                            <br>
                            <br>
                            <form method="POST" action="/product/<%=productToEdit.id%>/edit-delete?_method=PATCH">
                                <button type="submit" class="btn-delete">Marcar como vendido</button>
                            </form>
                            <br>
                            <!--EDIT-->
                        </div>

                        <div class="container-dropdown1">
                            <div class="container-answer1">
                                <article class="container-detail">
                                    <img class="img-detail" src=/images/products/<%=productToEdit.image%>>
                                    <div class="vertical-line"></div>
                                    <div class="container-price">
                                        <label class="label-sale-edit" for="image">Foto de Producto:</label>
                                        <input class="input-sale-edit" type="file" id="foto" name="image"
                                            accept=".png, .jpeg, .jpg">

                                        <label for="title" class="label-sale">Nombre del producto</label>
                                        <input type="text" class="input-sale" name="title" id="InputName"
                                            value=<%=productToEdit.title%> minlength="4" maxlength="400"
                                        required />

                                        <label for="price" class="label-sale-edit">Precio</label>
                                        <input type="number" name="price" class="input-sale-edit" min="100" max="100000"
                                            id="InputPrice-edit" value=<%=productToEdit.price%>
                                        required />

                                        <label for="discount" class="label-sale-edit">Porcentaje de
                                            descuento</label>
                                        <input type="number" name="discount" class="input-sale-edit" min="0" max="50"
                                            id="InputPrice-edit" value=<%=productToEdit.discount%>
                                        required />

                                        <label for="stock" class="label-sale-edit">Stock</label>
                                        <input type="number" name="stock" class="input-sale-edit" min="1"
                                            id="InputPrice-edit" value=<%=productToEdit.stock%> required />

                                        <label class="label-sale-edit" for="category">Categoría:</label>
                                        <select name="categoria" name="category" class="input-sale-edit">
                                            <option value="Sustrato">Sustrato</option>
                                            <option value="Macetas">Macetas</option>
                                            <option value="Bandeja">Bandeja</option>
                                            <option value="Cosmetica">Cosmetica</option>
                                            <option value="Aceites">Aceites</option>
                                            <option value="Cremas">Cremas</option>
                                        </select>
                                        <label class="label-sale-edit" for="subcategory">Subcategoría:</label>
                                        <select name="subcategory" class="input-sale-edit">
                                            <option value="Sustrato">Sustrato</option>
                                            <option value="Macetas">Macetas</option>
                                            <option value="Bandeja">Bandeja</option>
                                            <option value="Cosmetica">Cosmetica</option>
                                            <option value="Aceites">Aceites</option>
                                            <option value="Cremas">Cremas</option>
                                        </select>

                                        <label class="label-sale-edit" for="type">Tipo de producto:</label>
                                        <select name="type" class="input-sale-edit">
                                            <option value="Sustrato">Sustrato</option>
                                            <option value="Macetas">Macetas</option>
                                            <option value="Bandeja">Bandeja</option>
                                            <option value="Cosmetica">Cosmetica</option>
                                            <option value="Aceites">Aceites</option>
                                            <option value="Cremas">Cremas</option>
                                        </select>

                                        <button class="btn-save">Guardar Cambios</button>
                                        <button class="btn-cancel">Cancelar</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </li>
                </ul>

            </section>

        </main>


        <!---------------------------- ASESORAMIENTO--------------------------------->

        <%- include('../partials/counseling')%>

            <!---------------------------------  FOOTER ---------------------------- -->

            <footer>
                <%- include('../partials/footer')%>
            </footer>

</body>

<script>

    //Definir variables de acuerdo a las clases de las etiquetas a operar


    //Definir variables de acuerdo a las clases de las etiquetas para los contenedores


    /* Botón salida del formulario de publicación de producto y re-asignación de opacidad a elementos de fondo */


    let collapse_card = document.querySelector(".container-dropdown1");
    let collapse_button = document.querySelector(".btn-edit");
    let btn_saveEdit = document.querySelector(".btn-save");
    let btn_cancel = document.querySelector(".btn-cancel");

    collapse_button.addEventListener("click", () => {
        if (collapse_card.style.display == "block") {
            collapse_card.style.display = "none";
        }
        else {
            collapse_card.style.display = "block";
        }

    })


    btn_saveEdit.addEventListener("click", () => {

        modal_wrapper.classList.add("active");
        wrapper.style.display = "none";
        success_wrap.style.display = "flex";
        success_wrap.classList.add("active");
        text_pub_edit.style.display = "inherit";
        text_pub_creation.style.display = "none";
        collapse_card.style.display = "none";
    })


    btn_cancel.addEventListener("click", () => {
        collapse_card.style.display = "none";

    });



    /* Alerta para confirmar eliminación de publicación*/

    let alertaElimina = () => {
        if (confirm("Esta seguro que desea eliminar la publicación?\nPor favor confirme")) {
            //Mensaje o evento de confirmación;
        } else {
            //Mensaje o evento de cancelación;
        }
    }

</script>


</html>